# Flask Settings
FLASK_APP=backend/app.py
FLASK_ENV=development

# MongoDB connection string
# Replace with your actual MongoDB Atlas connection URI or local MongoDB URI.
# e.g., mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
